__pycache__/
*.pyc
.env
results/responses.json
results/responses_gpt.json
results/responses_deepseek.json
results/responses_report.pdf
results/responses_gpt_report.pdf
results/responses_deepseek_report.pdf
results/responses_groq.json
results/responses_groq_report.pdf
